<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<main class='maindiv'>
		<div class='login-header'>
			<img class='logo' src="/img/logo/logo.png" alt='digiHaazri'>
		</div>
		<div class='logindiv'>
				<form  class='login-form' name='login-form' method='POST' action='/auth/forgotpassword'>
					<h1>Verify OTP</h1>
					<input type='number' placeholder='Enter 4 digit OTP' name='otp'>
					<input type="hidden" name="user" value='<%= user %>'>
					<button type='submit' class='verifyotp' >Verify OTP</button>
					<a class='resendotp' onclick='resendOTP();' >Not get OTP yet?, Resend!</a>

				</form>			
		</div>
		<% if(authError.length>0){ %>
			<div class='errormessage'>
				<h4><%= authError[0] %></h4>
			</div>
			<% } %>
			<br><br>
	</main>
</body>
<script src='/scripts/lib/require.js' data-main='/scripts/Auth/main'></script>
</html>