<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<main class='maindiv'>
		<div class='login-header'>
			<img class='logo' src="/img/logo/logo.png" alt='digiHaazri'>
		</div>
		<div class='logindiv'>
				<form class='login-form' name='login-form' method='POST' action='<%= formurl?formurl:"/auth/resetpassword" %>'>
					<h1>New Password</h1>
					<input type='password' placeholder='New Password *' name='newpassword'>
					<input type="password" name="confirmpassword" placeholder='Confirm Password *'>
					<button type='submit'>CHANGE</button>
				</form>			
		</div>
		<% if(authError.length>0){ %>
			<div class='errormessage'>
				<h4><%= authError[0] %></h4>
			</div>
			<% } %>
			<br><br>
	</main>
</body>
<script src='/scripts/lib/require.js' data-main='/scripts/Auth/main'></script>
</html>