<div class="batchinfodiv">
	<div class="batchinfo">
		<div class="batchinfo-header">
			<!-- IT would contain header of info model -->
			<img src="/img/icons/traingle.png" class='attendencewindow-back'>
			<h3>Batch Info</h3>
		</div>

		<div class="batchinfo-main">
				<div class="batchinfo-contentpart">
					<div class="batchinfo-content">
						<div class="batchinfo-infobox">
							<label>
								Batch Name : 
							</label>
							<p>Maths</p>
						</div>
						<div class="batchinfo-infobox">
							<label>
								Created At : 
							</label>
							<p>12th Jan, 2019</p>
						</div>
						<div class="batchinfo-infobox">
							<label>
								Teacher : 
							</label>
							<p>Kushal</p>
						</div>
						<div class="batchinfo-infobox">
							<label>
								Students : 
							</label>
							<p>12</p>
						</div>
					</div>
					<div class="batchinfo-controls">
						<button>Edit Batch</button>
					</div>
				</div>
				<div class="batchinfo-imagepart">
					<!-- image section -->
					<img src="/images/2020_25_1577962520386Desert.jpg">
				</div>
		</div>

	</div>
</div>