<div class='errorboxdiv'>
	<div class=' errorbox'>
		<button class='errorbox-close'>X</button>
		<div class='errorbox-header'>
			<span>
				<img src="https://cdn1.iconfinder.com/data/icons/color-bold-style/21/08-512.png" alt='errorimg'>
			</span>
		</div>

		<div class='errorbox-details'>
				<div class='expressions'>
					<h2>OOps !!</h2>
				</div>
				<div class='errorbox-message'>
					<p class='errorbox-msg'>Error message !</p>
				</div>
				<div class='errorbox-controls'>
					
				</div>
		</div>

	</div>
	<br><br>
</div>