<div class='mobilecontroldiv'>
	<div class='mobilecontroldiv-close'>
		<button class='mobilecontroldiv-closebutton'>X</button>
	</div>
	
	<div class='mobilecontrol'>

		<div class='mobilecontrol-control1' onclick="window.location='/admin/dashboard'; ">
			<img src="/img/icons/dashboard.png">
		</div>
		<div class='mobilecontrol-control2'>
			<img src="/img/icons/recordsIcon.png">
		</div>
		<div class='mobilecontrol-control3'>
			<img src="/img/icons/userIcon.png">
		</div>
		<div class='mobilecontrol-control4'>
			<img src="/img/icons/settingIcon.png">
		</div>
	</div>
</div>