	<div class='navigation'>
			<div class='dashboardicon'>
				<img src="/img/icons/toolsicon.png" class='dashboardcontrolicon'>
			</div>
			
			<div class='desktopsearch'>
				
				
			</div>
			<div class='notification-bell'>
				
			</div>
			<%- include('../includes/navigationUserProfile.ejs') %>
	</div>