<div class='userprofile'>
	<img src='/<%= userinfo.userimageurl %>' class='userprofile-usericon'>
	<a>Hii! <%= userinfo.username %></a>
	<img src="/img/icons/traingle.png" class='userprofile-traingle'>
</div>