<div class='profilepassworddiv'>
	<div class=' profilepassword formcontainer'>
		<button class='profilepassword-close formclosebutton'>X</button>

		<div class='formheader'>
			<span>
				<img src="/img/icons/key.png" alt='keyimg'>
				<h3>Profile Passcode</h3>
			</span>
		</div>

		<div class='profilepasswordcontainer'>
			<form>
				<div class='profilepassword-details'>
					<section class='formdetails'>
						<div class='dialogdetails'>
							<div class='formpassworddiv'>
							<span>Passcode</span>
							<img class='showhidepasswordimg' src="/img/icons/hidepassword.png">
							<input type="password" class='profilepasswordinput' >
							</div>
						</div>
					</section>
					<section class='submitform'>
						<input type="button" value='Open' onclick='openprofile();' class='openprofile'>
						<a onclick="fgtprofpswd();">Forgot Passcode?</a>
					</section>
				</div>
			</form>
		</div>
	</div>
	<br><br>
</div>