<div class='usercontrolsdiv'>
			<div class='usercontrolsdiv-img'>
				<img src="/img/icons/featuresIcon.png">
			</div>
			<div class='usercontrolsdiv-controls'>
				<div class='control1 <%= path=="/batch"?"controlactive":"" %>' onclick="window.location='/admin/batch'; ">
					<img src="/img/icons/batchIcon.png">
					<span>Batches</span>
				</div>
				<div class='control2 <%= path=="/student"?"controlactive":"" %>' onclick="window.location='/admin/student'; ">
					<img src="/img/icons/studentsIcon.png">
					<span>Students</span>
				</div>
				<div class='control3 <%= path=="/teacher"?"controlactive":"" %>' onclick="window.location='/admin/teacher'; ">
					<img src="/img/icons/teacherIcon.png">
					<span>Teachers</span>
				</div>
				<div class='control4 <%= path=="/records"?"controlactive":"" %>'>
					<img src="/img/icons/recordsIcon.png">
					<span>Records</span>
				</div>
				<div class='control5'>
					<img src="/img/icons/more.png">
					<span>More</span>
				</div>
			</div>
		</div>