<!DOCTYPE html>
<html>
<head>
	<title>404 Page Not Found</title>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<link rel="stylesheet" type="text/css" href="/css/infopages.css">
</head>
<body>
	<div class='infopage'>
		<div class='infopage-header'>
			<img class='logo' src="/img/logo/logo.png" alt='digiHaazri'>
		</div>
		<div class='infopage-content'>
			<div class='content-image'>
				<img class='info-image' src="/img/404Error.png" alt='404'>
			</div>
			<div class='content-info'>
				<h1 class='info-message'>Page not found</h1>
			<p>Page you are trying to serve, is not found. Please go back.</p>
			</div>
		</div>
	</div>
</body>
</html>
