<div class='absentwindowdiv'>
	<div class='absentwindow'>
		<div class='absentwindow-header'>
			<img src="/img/icons/traingle.png" class='absentwindow-back'>
			<h3 class='absentwindow-heading'>Absent Students</h3>
		</div>

			<div class='absentwindow-content'>
				<div class='showselectdiv'>
		     	<div class='selectall'>
		     		<button class='selectallbutton' onclick='selectAll(this,"absentwindow-studentlist", "absenttoemail");'></button>
		     		<p>All</p>
		     	</div>
		     	<p class='showcount'>Select Students</p>
		     </div>
				<div class='absentwindow-studentlist'>
						<!-- <div class='studentcard'>
						<div class='studentimagediv'>
								<img src="/img/checkicon.png" class='student-checked'>
							<img src="/images/nitin.jpg" alt='studentimage' class='studentimage'>
						</div>
						<h3 class='studentname'>Nitin Sharma</h3>
						<div class='studentcard-controls'>
							<button class='student-information'>i</button>
						</div>
					</div>	  -->
				</div>

				<div class='absentwindow-messagebox'>
					<label>What to send?</label>
					<textarea rows='12' cols='40' placeholder='Enter Message to send' class='messagebox' ></textarea>
					<button class='sendmessagebutton' onclick='sendStudentids(true);' ></button>
				</div>
			</div>
	</div>
</div>