<div class='attendencewindowdiv'>
	<div class='attendencewindow'>
		<div class='attendencewindow-header'>
			<img src="/img/icons/traingle.png" class='attendencewindow-back'>
			<h3 class='attendencewindow-heading'>Todays Attendence (Maths)</h3>
			<h5 class='attendencewindow-date'>12th july, 2019</h5>
		</div>

		<div class='attendencewindow-content'>
			 <div class="loadingdiv">
			 	<h3>Loading Students ...</h3>
			 	<div class='loader'>
			 		<div></div>
				    <div></div>
				    <div></div>
				    <div></div>
			 	</div>
		     </div>
		     <div class='attendencewindow-message'>
		     	
		     </div>
		     <div class='showselectdiv'>
		     	<div class='selectall'>
		     		<button class='selectallbutton' onclick='selectAll(this,"attendencewindow-studentlist","present");'></button>
		     		<p>All</p>
		     	</div>
		     	<p class='showcount'>Select Students</p>
		     </div>
			<div class='attendencewindow-studentlist'>
					<!-- <div class='studentcard'>
					<div class='studentimagediv'>
							<img src="/img/checkicon.png" class='student-checked'>
						<img src="/images/nitin.jpg" alt='studentimage' class='studentimage'>
					</div>
					<h3 class='studentname'>Nitin Sharma</h3>
					<div class='studentcard-controls'>
						<button class='student-information'>i</button>
					</div>
				</div>	 -->
			</div>
			<div class='attendencewindow-submit'>
				<button class='attendence-submitbutton button' onclick='addabsentstudents(true);' >Submit</button>
			</div>
		</div>

	</div>
</div>