<div class='confirmationdiv'>
	
		<div class='confirmationbox'>
			<div class='confirmationbox-message'>
				<p>Send Email to Absent student's Parents ? Or Submit Only?</p>
			</div>
			<div class='confirmationbox-controls'>
				<button class='confirmation-yes' onclick='loadabsentstudent();'>Yes</button>
				<button class='confirmation-submitonly' onclick='sendStudentids(false);'>Submit Only</button>
				<button class='confirmation-cancle'>Cancle</button>
			</div>
		</div>
	
</div>