<div class='confirmationboxdiv1'>
	<div class='confirmationbox1'>
		<button class='close-confirmation'>X</button>
		<div class='confirmationbox1-header'>
			<img	src='https://cdn1.iconfinder.com/data/icons/color-bold-style/21/08-512.png'>
			<h2>Confirmation</h2>
		</div>
		<div class='confirmationbox1-details'>
				<p>Are You Sure to Want delete Batch ? This process is cannot be reversed!</p>
		</div>
		<div class='confirmationbox1-controls'>
			<button class='confirmationbox1-cancelcontrol'>Cancel</button>
			<button class='confirmationbox1-yescontrol'>Yes, delete it!</button>
		</div>
	</div>
</div>