<div class='historyinspectdiv'>
	<div class="historyinspect">
		<div class='historyinspect-header'>
			<h3>Attendence History</h3>
		</div>
		<div class="loadingdiv">
			 	<h3>Loading Data ...</h3>
			 	<div class='loader'>
			 		<div></div>
				    <div></div>
				    <div></div>
				    <div></div>
			 	</div>
		</div>
		<div class='historyinspect-content'>
			<div class='historyinspect-datetime'>
				<!-- <h4>12th Dec, 2019</h4>
				<h4>5:20:56 AM</h4> -->
			</div>
			<div class='historyinspect-data'>
				<ul class='historyinspect-ul'>
				<!-- 	<li>Total Students : 23</li>
					<li>Present Students : 20</li>
					<li>Absent Students : 3</li>
					<li>Email/Message Sent to : </li> -->
				</ul>
				<div class='historyinspect-studentlist'>
						<!-- student card -->
				<!-- 	<div class='historyinspect-studentcard'>
						<div class='studcard-image'>
							<img src='/images/student/14_11_2019_7_44_1576289698519win10sr1.jpg'>
						</div>
						<div class='studcard-info'>
							<h4>Nitin</h4>
							<h4>12</h4>
						</div>
						<div class='studcard-controls'>
							<button class='student-information'>i</button>
						</div>
					</div> -->
					<!-- end of student card -->
				</div>
			</div>
			
		</div>
		<div class='historyinspect-controls'>
				<button onclick="closehistory();" class='button' style='background:red;'>Close</button>	
				<button class="historydownloadbutton button">Download</button>
			</div>
	</div>
</div>