<div class="moremenudiv">
	<div class="moremenu">
		<a class="remove-student">Remove students</a>
		<a class='delete-batch' onclick='return(deleteBatch());'>Delete Batch</a>
		<a >To do list</a>
		<a >See Records</a>
		<a >Search</a>
	</div>
</div>

<!-- CSS IS IN MAIN.CSS -->