<div class='removestudentwindowdiv'>
	<div class='removestudentwindow'>
		<div class='removestudentwindow-header'>
			<img src="/img/icons/traingle.png" class='removestudentwindow-back'>
			<h3 class='removestudentwindow-heading'>Remove Students (Maths)</h3>
		</div>

		<div class='removestudentwindow-content'>
			 <div class="loadingdiv">
			 	<h3>Loading Students ...</h3>
			 	<div class='loader'>
			 		<div></div>
				    <div></div>
				    <div></div>
				    <div></div>
			 	</div>
		     </div>
		     <div class='removestudentwindow-message'>
		     	
		     </div>
		       <div class='showselectdiv'>
		     	<div class='selectall'>
		     		<button class='selectallbutton' onclick='selectAll(this,"removestudentwindow-studentlist", "present");'></button>
		     		<p>All</p>
		     	</div>
		     	<p class='showcount'>Select Students</p>
		     </div>
			<div class='removestudentwindow-studentlist'>
					<!-- <div class='studentcard'>
					<div class='studentimagediv'>
							<img src="/img/checkicon.png" class='student-checked'>
						<img src="/images/nitin.jpg" alt='studentimage' class='studentimage'>
					</div>
					<h3 class='studentname'>Nitin Sharma</h3>
					<div class='studentcard-controls'>
						<button class='student-information'>i</button>
					</div>
				</div>	 -->
			</div>
			<div class='removestudentwindow-submit'>
				<button class='removestudent-submit button'  onclick='return(removestudents());'>Remove</button>
			</div>
		</div>

	</div>
</div>